@media screen and (min-width: 480px) {
    input {
        width: 40rem;
    }
    
    select {
        width: auto;
    }

    .formularioEstudiante {
        input {
            width: 35rem;
        }
    }
}